In [3]:
!python -V

Python 3.12.3

In [87]:
import pandas as pd
import numpy as np

In [5]:
pd.__version__

'2.2.3'

In [6]:
df_laptops = pd.read_csv('laptops.csv')
df_laptops.shape[0]

2160

In [18]:
len(df_laptops['Brand'].unique())

27

In [19]:
df_laptops['Brand'].nunique()

27

In [20]:
df_laptops['Brand'].unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [22]:
round(df_laptops.describe(),2)

           RAM  Storage   Screen  Final Price
count  2160.00  2160.00  2156.00      2160.00
mean     15.41   596.29    15.17      1312.64
std       9.87   361.22     1.20       911.48
min       4.00     0.00    10.10       201.05
25%       8.00   256.00    14.00       661.08
50%      16.00   512.00    15.60      1031.95
75%      16.00  1000.00    15.60      1708.97
max     128.00  4000.00    18.00      7150.47

In [23]:
df_laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [24]:
len(df_laptops.index) - df_laptops.count()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [25]:
df_laptops.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [36]:
df_laptops["Final Price"].max()

np.float64(7150.47)

In [49]:
df_dell = (df_laptops["Brand"] == 'Dell')
df_laptops[df_dell]['Final Price'].max()

np.float64(3936.0)

df_laptops[df_dell]

In [52]:
df_screen_median = df_laptops['Screen'].median()
df_screen_median

np.float64(15.6)

In [53]:
df_screen_mode = df_laptops['Screen'].mode()
df_screen_mode

0    15.6
Name: Screen, dtype: float64

In [61]:
df_screen_fillna = df_laptops['Screen'].fillna(df_screen_mode)
# df_screen_fillna['Screen'].median()

In [62]:
df_screen_fillna.median()

np.float64(15.6)

In [112]:
df_injoo = df_laptops["Brand"] == 'Innjoo'
df_injoo_details = df_laptops[df_injoo]
X = df_injoo_details[['RAM','Storage','Screen']].values
XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)
y = [1100, 1300, 800, 900, 1000, 1100]
# df_injoo_details.loc(['RAM','Storage','Screen'])

In [120]:
w = XTX_inv.dot(X.T).dot(y)
w

array([45.58076606,  0.42783519, 45.29127938])

In [121]:
sum(w)

np.float64(91.2998806299555)